* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Text styling */
h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.8rem;
}

.login {
    width: 90%;
    max-width: 375px;
    margin: 120px auto;
    background-color: #fff;
    padding: 2.4em 1.25em 2.5em 1.25em;
    border: 2px solid #000;
    box-shadow: 5px 5px 0px #000;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
}

/* Input fields */
#email,
#password {
    width: 100%;
    display: block;
    padding: 0.75em;
    border-radius: 5px;
    border: 1px solid #000;
    margin-top: 1em;
}

/* Labels */
label {
    display: block;
    margin-top: 1.25em;
    font-weight: bold;
}

/* Button */
button {
    width: 70%;
    display: block;
    margin: 1em auto 0;
    padding: 0.7em;
    font-weight: 800;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}



/* Forgot password + remember me wrapper */
.auth-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    font-size: 0.8rem;
}

.auth-options a {
    text-decoration: none;
    font-weight: bold;
}

.auth-options input {
 margin: 0 auto 0;
}

.auth-options label{
    display: flex;
    align-items: center;
    gap: 0.3em;
    margin: 0;
}


.signUp{
    margin-top: 2em;
    margin-bottom: 0;
}

.signUp a{
    text-decoration: none;
}